pandas
python-dotenv
numpy
scikit-learn
xgboost
shap
joblib
streamlit
matplotlib
seaborn
nltk
spacy
transformers
torch
plotly
fastapi
uvicorn
groq
PyPDF2
python-multipart
google-generativeai
sentence-transformers
faiss-cpu
scipy
python-jose[cryptography]
bcrypt
